@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Matty's To-Do List</h1>
    <p class="lead">A simple and efficient way to manage your tasks.</p>
    <hr />
    <p>
        <a asp-controller="Todo" asp-action="Index" class="btn btn-primary btn-lg">Go to Todo List</a>
    </p>
</div> 